<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <modules>
        <DD_Billplz>
            <version>1.0.0</version>
        </DD_Billplz>
    </modules>
    <global>
        <models>
            <billplz>
                <class>DD_Billplz_Model</class>
            </billplz>
        </models>
        <blocks>
            <billplz>
                <class>DD_Billplz_Block</class>
            </billplz>
        </blocks>
        <helpers>
            <billplz>
                <class>DD_Billplz_Helper</class>
            </billplz>
        </helpers>
        <resources>
            <billplz_setup>
                <setup>
                    <module>DD_Billplz</module>
                </setup>
            </billplz_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <billplz>
                <use>standard</use>
                <args>
                    <module>DD_Billplz</module>
                    <frontName>billplz</frontName>
                </args>
            </billplz>
        </routers>
    </frontend>
    <default>
        <payment>
            <billplz>
                <model>billplz/payment</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>Billplz</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </billplz>
        </payment>
    </default>
</config>